@font-face {
  font-family: "font-primary";
  src: url("/assets/fonts/eight_bit_dragon/eight-bit-dragon.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-primary: #6a00f0;
  --background-secondary: #6605e1;
  --text-primary: #fff;
  --text-disabled: rgba(255, 255, 255, 0.7);

  --url-input-bg: #f49b48;

  --button-default: #41d83d;
  --button-disabled: #777674;
  --button-hover: #75e872;
  --button-pressed: #0eac0a;

  --footer-size: 5vh;
  --footer-border-size: 16px;

  --flex-gap-size: 24px;
}

body {
  background-color: var(--background-secondary);
  background-image: repeating-linear-gradient(
      0deg,
      var(--background-primary) 0 8px,
      transparent 8px 16px
    ),
    repeating-linear-gradient(
      90deg,
      var(--background-primary) 0 8px,
      transparent 8px 16px
    );
  background-repeat: repeat;
  background-size: 8px 8px;
  background-size: 16px 16px;
  margin: 0;
  padding: 0;
}

.font_title {
  font-family: "font-primary", monospace;
  font-size: 40px;
  color: var(--text-primary);
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

.font_subtitle {
  font-family: "font-primary", monospace;
  font-size: 20px;
  color: var(--text-primary);
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

.header_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: var(--flex-gap-size);
  height: calc(95vh - var(--footer-border-size));
}

.footer {
  height: 5vh;
  position: relative;
  border-top: var(--footer-border-size) solid transparent;
  border-image: url("/assets/images/road_block.png") 16 repeat;
  background-color: var(--background-secondary);
}

.footer_pipe {
  position: absolute;
  bottom: calc(var(--footer-size) + var(--footer-border-size));
  left: 32px;
}

.footer_minion {
  position: absolute;
  bottom: calc(var(--footer-size) + var(--footer-border-size) + 96px);
  left: 40px;
  animation: flip2D 0.5s infinite ease-in-out;
}

.footer_grass {
  position: absolute;
  right: 16px;
  bottom: var(--footer-size);
}

.url_input {
  padding: 20px;
  background-color: var(--url-input-bg);
  font-family: "JetBrains Mono", monospace;
  color: black;
  text-align: center;
  line-height: 20px;
  border: 4px solid black;
  box-shadow: inset 0 px 4px rgba(0, 0, 0, 0.1);
  margin-top: calc(80px - var(--flex-gap-size));
}

.url_input::placeholder {
  color: black;
}

.default_button {
  background-color: var(--button-default);
  font-family: "font-primary", monospace;
  color: var(--text-primary);
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
  font-size: 24px;
  padding: 18px 20px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.default_button:disabled {
  background-color: var(--button-disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}

.default_button:hover:not(:disabled) {
  background-color: var(--button-hover);
}

.button_circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1.25px solid black;
  position: absolute;
}

.button_circle:nth-child(1) {
  left: 3px;
  top: 3px;
}

.button_circle:nth-child(2) {
  right: 3px;
  top: 3px;
}

.button_circle:nth-child(3) {
  left: 3px;
  bottom: 3px;
}

.button_circle:nth-child(4) {
  right: 3px;
  bottom: 3px;
}

.title_double_cloud,
.title_single_cloud {
  position: absolute;
}

.title_container {
  position: relative;
}

.title_double_cloud {
  left: -130px;
  top: 50px;
}

.title_single_cloud {
  right: -80px;
  top: -30px;
}

.submit_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
}

.btn_mario {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 30%;
}

.move_up_animated {
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

@keyframes flip2D {
  0%,
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
  50.01%,
  100% {
    transform: scaleX(-1);
    opacity: 1;
  }
}

@media (min-width: 720px) {
  .header_container {
    width: 50%;
    gap: 32px;
  }

  .font_title {
    font-size: 80px;
  }

  .font_subtitle {
    font-size: 32px;
  }

  .url_input {
    line-height: 32px;
    font-size: 24px;
    margin-top: calc(54px - var(--flex-gap-size));
    width: 576px;
  }
}
